/************************
****  GENERAL STYLE  ****
************************/

body {
  font-family: 'Muli', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: #3C948B;
  font-weight: bold;
}

img {
  max-width: 100%;
  
}

h3 {
  margin: 0 0 1em 0;
}

.center {
  text-align: center;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/************************
********  INDEX  ********
*************************/

#index {
  margin-top: -19.5px;
}

.indexUpdateMsg {
  border: solid 2px #606060;
  background-color: lightgrey;
  border-radius: 2em;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.indexUpdateMsg:hover {
  background-color: silver;
}


/************************
*******  HEADING  *******
*************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
  background-color: #444444;
}

header h1 {
  font-family: 'Exo', sans-serif;
  margin: 21px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.6em;
  padding: 8px 0;
}

header h4 {
  font-family: 'Exo', sans-serif;
  font-weight: normal;
  font-size: 1.25em;
}

/* blue header */
header {
  background: #3C948B;/*#70CEFC;*/
  border-color: #444444;
}

/* logo text */
header h1,h4 {
  color: white;
}

/************************
******  NAVIGATION  *****
*************************/

/* nav background on mobile */
nav {
  background: #444444;
  text-align: center;
  padding: 10px 0;
  margin: 11px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

/* nav link */
nav a, nav a:visited {
  color: white;
  font-weight: normal;
  padding: 15px 10px;
  opacity: .7;
}

/* selected nav link */
nav a.selected, nav a:hover {
  opacity: 1;
}

/************************
********  FOOTER  *******
*************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #aaa;
  
}

footer img {
  width: 30px;
  border-radius: 5px;
}

footer a {
  padding: 0 2px 0 2px;
}

/************************
****  PORTFOLIO PAGE  ***
*************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #D5D5D5;/*#E8E8E8;*/
  color: #7F7F7F;/*#bdc3c7;*/
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  font-weight: normal;
  color: #7F7F7F; /*#bdc3c7;*/
}

#gallery li:nth-child(2n+1) {
    clear: left;
}

/************************
******  ABOUT PAGE  *****
*************************/

.propic {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 5%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/************************
*****  CONTACT PAGE  ****
*************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 6px;
}

.contact-info li.email a {
  background-image: url('../img/mail.png');
}

.contact-info li.fblink a {
  background-image: url('../img/facebook.png');
  background-size: 19px 19px;
}

.contact-info li.linkedinlink a {
  background-image: url('../img/linkedin.png');
  background-size: 15px 15px;
}

.contact-info li.githublink a {
  background-image: url('../img/github.png');
  background-size: 15px 15px;
}

/************************
*****  ABROAD PAGE  *****
*************************/

#abroad {
  margin-top: -19.5px;
}

/************************
****  PROJECTS PAGE  ****
*************************/

#projects {
  margin-top: -19.5px;
}

h4.italics {
  color: gray;
  padding-top: 10px;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
}

#project_contents {
    margin-bottom: 6px;
    padding: 0px;
}

video {
    max-width: 100%;
    height: auto;
}


#vids {
  min-height: auto;
  overflow: hidden;
}

#ffDescrip {
  padding-top: 8px;
}

#run4it_pics img {
  max-width: 48%;
  float: left;
  height: auto;
  padding: 1%;
}

#run4it_pics {
  min-height: auto;
  overflow: hidden;
  background-color: lightgray;
}

#run4itDescrip {
  padding-top: 8px;
}

.android_pics img {
  max-width: 48%;
  float: left;
  height: auto;
  padding: 1%;
}

.android_pics {
  background-color: lightgray;
  width: 100%;
  min-height: auto;
  overflow: hidden;
}

.androidDescrip {
  padding-top: 8px;
}

/************************
*****  RESUME PAGE  *****
*************************/

#resume_wrap {
  display: block;
  margin: auto;
  width: 300px;
  height: 408px;
}

#resume_pdf {
  width: 100%;
  height: 100%;
}

#resume footer {
  margin-top: 230px;
}

.underlined {
  text-decoration: underline;
}

.indented {
  margin-left: 8px;
}

section h1 {
  margin: 0;
  padding: 0;
}

section p {
  margin: 8px 0;
  padding: 0;
}

#skill-list {
  list-style: none;
}

#skill-list li {
  width: 180px;
  display: block;
  float: left;
}

#activities {
  margin-top: 0px;
}

.addPaddingTop {
  margin-top: 27px;
}

/*******************
** CROSSWORD PAGE **
*******************/

#crossword {
  margin-top: -19.5px;
}

#cIndexWrapper {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 6%;
}

#crossGallery .crossLi {
  float: left;
  width: 90%;
  height: 220px;
  margin: 20px 5%;
  background-color: lightgrey;
  border-radius: 1em;
  border-color: black;
  border-width: 1px;
  color: #7F7F7F;
  list-style: none;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0,0,0,.99);
  border-radius: 1em;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 0.5s;
}

.titleDescrip {
  text-align: center;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

.titleDescrip h2 {
  margin: 0px;
  padding: 30px 0px;
  margin-bottom: -20px;
}

#crossGallery .crossLi:hover .titleDescrip {
  visibility: visible;
}

#crossGallery .crossLi:hover .overlay{
  opacity: 0.9;
}

.progressBarShaded {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  width: 20%;
  height: 32px;
  background: rgba(92,188,179,1.0); /* #5CBCB3; */
  border-radius: .3em 0 0 .3em;
}

.progressBarOutline {
  margin-top: -33px;
  margin-left: calc(10% - 2px);
  margin-right: calc(10% - 2px);
  width: 80%;
  height: 30px;
  border: solid 2px #5CBCB3;
  border-radius: .5em;
}

.progressVal {
  text-align: center;
  margin-top: 0.5px;
  padding: 2px 2px;
  height: 26px;
  color: rgba(255,255,255,1); /* rgba(255,242,128,1.0); */
  font-weight: bold;
}

#crossword1 {
  background-image: url("../img/c2-empty-crossword.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#crossword2 {
  background-image: url("../img/c3-empty-crossword.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#crossword3 {
  background-image: url("../img/c4-empty-crossword.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#crossword4 {
  background-image: url("../img/c5-empty-crossword.png");
  background-repeat: no-repeat;
  background-size: cover;
}


/**** site body ****/

body {
  background-color: #FFFFFF;
  color: gray;
}




