@media screen and (min-width: 350px) {
  nav li {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 33%;
  }
}

@media screen and (min-width: 450px) {
  nav li {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 25%;
  }

  #resume_wrap {
    width: 350px;
    height: 476px;
  }

}

@media screen and (min-width: 560px) {

  /***********************
  ******** HEADER ********
  ************************/

  nav li {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
  }

  /***********************
  ** 3 COLUMN PORTFOLIO **
  ************************/
  
  #gallery li {
    width: 28.33333%;
  }
  
  #gallery li:nth-child(2n+1) {
    clear: none;
  }

  #gallery li:nth-child(3n+1) {
    clear: left;
  }
  
  /***********************
  ****** ABOUT PAGE ******
  ************************/
  
  img.propic {
    float: left;
    margin: 48px 5% 25px 0;
  }
  
  
  /***********************
  ****** RESUME PAGE *****
  ************************/
  
  #experience {
    clear: both;
    display: block;
  }

  #resume_wrap {
    width: 400px;
    height: 544px;
  }
  
}

@media screen and (min-width: 680px) {

  #resume_wrap {
    width: 450px;
    height: 612px;
  }

  /***********************
  ***** PROJECTS PAGE ****
  ************************/

  video {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
    height: auto;
  }

  #run4it_pics img {
    width: 23%;
    float: left;
    height: auto;
  }

  .android_pics {
    width: 50%;
    float: left;
  }

  .androidDescrip {
    float: right;
    max-width: 45%;
    padding-top: 0px;
  }

  .android_row {
    min-height: auto;
    overflow: hidden;
  }

}

@media screen and (min-width: 940px) {
  /************************
  * 2 COL CONTACT SECTION *
  *************************/
  
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }
  
  /************************
  ** 2 COL RESUME SECTION *
  *************************/
  
  .resume-section {
    width: 45%;
    margin: 0 0 0 0;
    display: block;
    float: left;
  }

  
  #experience {
    display: block;
    margin-bottom: 65px;
  }

  #resume_wrap {
    width: 800px;
    height: 1088px;
  }

  
  /***********************
  ******** HEADER ********
  ************************/
  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 3%;
    text-align: right;
    width: 65%;
  }
  
  #logo {
    float: left;
    width: 30%;
  }
  
  h1 {
    font-size: 2.5em; 
    margin-bottom: 20px;
  }
  
  header {
    border-bottom: 5px solid #444444;
    margin-bottom: 60px;
  }
}