body{
	font-size: 15pt;
	font-family: Arial;
	text-align: left;
	color: navy;
	background-color: beige;
	width: 610px;
	margin-left: auto;
	margin-right: auto;
}

p{
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}

h1{
	border: 3px solid #ABC;
	border-radius: 8px;
	border-color: black;
	padding: 6px;
	margin-bottom: 50px;
	text-align: center;
}

#main{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border: 3px solid #ABC;
	border-radius: 8px;
	border-color: black;
	padding: 6px;
}