body{
	background-color: lightblue;
	text-align: center;
}

body h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

figure{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

header{
	background-image: url("tuftslogo.jpg");
	background-size: contain;
	height: 128px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

h1{
	margin-right: auto;
	margin-left: auto;
	padding-top: 2px;
	width: 300px;
	color: navy;
}

img.center{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	height: 300px;
	border-top-left-radius: 4em;
	border-top-right-radius: 4em;
	border-bottom-right-radius: 4em;
	border-bottom-left-radius: 4em;
}

a{
	text-decoration: none;
	color: white;
	font-family: "Courier New", Courier, monospace;
}

a:hover {
	text-decoration: underline;
}

#bio{
	text-align: center;
	float: left;
	margin-left: 100px;
	margin-right: 100px;
	background-color: darkblue;
	padding: 12px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

#resume{
	text-align: center;
	float: left;
	background-color: darkblue;
	padding: 12px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

#linkedin{
	text-align: center;
	float: right;
	margin-left: 80px;
	margin-right: 80px;
	background-color: darkblue;
	padding: 12px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

#github{
	text-align: center;
	float: right;
	background-color: darkblue;
	padding: 12px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}