/*@media only screen and (min-device-width: 737px) {

body{
	font-size: 14pt;
	color: navy;
	background-color: lightblue;
	font-family: Arial;
}
*/

.centered{
	text-align: center;
}

.underline{
	text-decoration: underline;
}

#skills {
	height: 230px;
}
/*
#skillsLeft{
	float: center;
	margin-left: 32%;
	margin-right: 20%;
	text-align: center;
	display: inline-block;
}

#skillsRight{
	float: center;
	margin-right: 128px;
	text-align: center;
	display: inline-block;
}
*/
#education{
	float: center;
	width: 100%;
	/*display: inline-block;*/
}

#experience{
	float: center;
	width: 100%;
	/*display: inline-block;*/
	margin-right: 6%;
}

.indent{
	margin-left: 50px;
	text-align: left;
}
/*
}


@media only screen and (max-device-width: 736px) {

#skills {
	height: 300px;
	width: 400px;
}

#skillsLeft{
	width: 100%;
	float: left;
	text-align: center;
	display: inline-block;
}

#skillsRight{
	width: 100%;
	float: right;
	text-align: center;
	display: inline-block;
}

}
*/
