
body{
	font-size: 14;
	color: navy;
	background-color: beige;
	font-family: Arial;
}

.centered{
	text-align: center;
}

.underline{
	text-decoration: underline;
}

#columns_wide{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 80px;
	-moz-column-gap: 80px;
	column-gap: 80px;
	-moz-column-fill: auto;
    column-fill: auto;
}

#columns{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
	-moz-column-fill: auto;
    column-fill: auto;
}

.a_column{
	display: inline-block;
}

.indent{
	margin-left: 64px;
}
