
body{
	font-size: 14;
	color: navy;
	background-color: beige;
	font-family: Arial;
}

.centered{
	text-align: center;
}

.underline{
	text-decoration: underline;
}

#columns_wide{

	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: normal;
	-moz-column-gap: normal;
	column-gap: normal;
	-moz-column-fill: auto;
    column-fill: auto;
}

#columns{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
	-moz-column-fill: auto;
    column-fill: auto;
}

.column_one{
	float: left;
	margin-left: 136px;
	text-align: center;
	display: inline-block;
}

.column_two{
	float: right;
	margin-right: 128px;
	text-align: center;
	display: inline-block;
}

.a_column{
	display: inline-block;
}

.indent{
	margin-left: 64px;
}
